@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #e1e5e7;
  --toastify-color-success: #488025;
  --toastify-color-warning: #e2b32d;
  --toastify-color-error: #e74c40;
  --toastify-font-family: inherit;
}

body {
  background-color: #fff;
  color: #000;
  /* Fixes a bug with rainbowkit dependency package that removes the scroll bar */
  margin-right: 0 !important;
  padding-right: 0 !important;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #f0f;
}

#container {
  max-width: 800px;
  @apply mx-auto;
}

h1,
h2 {
  font-family: Inter, serif;
}

#about p {
  margin-bottom: 0.75rem;
}

button {
  background-color: #000;
}

/* react-toastify theme overrides */
.Toastify__toast-container {
  font-size: 0.75rem;
}

.Toastify__toast-container--top-right {
  top: 6rem !important;
}
