@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #e1e5e7;
  --toastify-color-success: #488025;
  --toastify-color-warning: #e2b32d;
  --toastify-color-error: #e74c40;
  --toastify-font-family: inherit;
}

body {
  background-color: #fff;
  color: #000;
  /* Fixes a bug with rainbowkit dependency package that removes the scroll bar */
  margin-right: 0 !important;
  padding-right: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #d946ef;
}

h1,
h2 {
  font-family: "Bitter", serif;
}

#about p {
  margin-bottom: 0.75rem;
}
